.accordion {
	&__item-header {
		@extend .text-cool-gray, .py-3;

		&:hover {
			cursor: pointer;
		}
	}

	&__item {
		border-bottom: none;

		&--expanded {

			& .accordion__item-content {
				@extend .py-3;
				height: auto;
			}

			& .accordion__item-icon {
				@extend .circle;
				background-color: lighten( map-get($colors, 'info' ), 32 );
			}
		}
	}

	&__item-title {
		@extend .flex-center-between;
	}
	
	&__item-content {
		height: 0;
		overflow: hidden;

		transition: height .5s ease-in-out,
								padding-top .2s ease-in-out;
	}

}