.action-button {
	@extend .flex-center-center, .bg-snow;

	min-width: 38px;
	min-height: 38px;
	border: none;
	border-radius: 4px;

	&:hover {
		cursor: pointer;

		.action-button__icon {
			@extend .text-primary;
		}
	}

	&__icon {
		@extend .text-cool-gray, .w-6;
	}
}