$flex-align-items: (
	'stretch': stretch,
	'center': center,
);

$flex-justify-content: (
	'start': flex-start,
	'end': flex-end,
	'center': center,
	'between': space-between,
	'around': space-around,
);

.grow-1 { 
	flex-grow: 1; 
}

%flex {
	display: flex;
}

@each $aiKey, $aiValue in $flex-align-items {
	@each $jcKey, $jcValue in $flex-justify-content {
		.flex-#{$aiKey}-#{$jcKey} {
			@extend %flex;
			align-items: $aiValue;
			justify-content: $jcValue;
		}
	}
}