$screens: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

.grid {
	display: grid;

	@for $i from 1 to 13 {
		&.cols-#{$i} {
			grid-template-columns: repeat($i, 1fr);
		}
	}

	@each $screen, $size in $screens {
		@media (min-width: $size) {
			@for $i from 1 to 13 {
				&.#{$screen}\:cols-#{$i} {
					grid-template-columns: repeat($i, 1fr);
				}
			}
		}
	}
}