* {
	&, &:is(::before, ::after) {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: map-get($font-sizing, 'md');
	color: map-get($colors, 'deep-blue');
	background-color: map-get($colors, 'snow');

	#__next {
		min-height: 100vh;
		
		display: flex;
		flex-direction: column;
	}

	main { 
		@extend .flex-stretch-start;
		flex-grow: 1;
	}
}

ul {
	list-style: none;
}

h1, h2, h3, h4 {
	font-weight: 400;
	line-height: 1;
}

p {
	line-height: 1.5;
}

hr {
	border: none;
	border-top: 1px solid map-get($colors, 'gray' );
	opacity: .5;
}